In [1]:
import pandas as pd

# initialize data
data = {'Subject': ['Math', 'Science', 'Math', 'Chemistry','Chemistry', 'Biology', 'Science', 'Math'],
        'Mark': [90, 60, 78, 55,34, 45, 67, 88]}

# Create DataFrame
df = pd.DataFrame(data)

In [2]:
df

     Subject  Mark
0       Math    90
1    Science    60
2       Math    78
3  Chemistry    55
4  Chemistry    34
5    Biology    45
6    Science    67
7       Math    88

In [3]:
######## Using sklearn ########

#copy dataframe to new df to apply encoding 
df1=df.copy()
df1

from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
##encode
df1['Subject']=label_encoder.fit_transform(df1['Subject'])
df1

   Subject  Mark
0        2    90
1        3    60
2        2    78
3        1    55
4        1    34
5        0    45
6        3    67
7        2    88

In [4]:
#to reverse values to the original ones 
df1['Subject']=label_encoder.inverse_transform(df1['Subject'].ravel())
df1

     Subject  Mark
0       Math    90
1    Science    60
2       Math    78
3  Chemistry    55
4  Chemistry    34
5    Biology    45
6    Science    67
7       Math    88

In [7]:
df2=df.copy()
df2

# Encoding Categorical Data using OneHotEncoder

from sklearn.preprocessing import OneHotEncoder
onehotencoder = OneHotEncoder()
res= onehotencoder.fit_transform(df2[["Subject"]]).toarray()

dfn = df2.drop(columns='Subject').join(pd.DataFrame(res))
dfn

   Mark    0    1    2    3
0    90  0.0  0.0  1.0  0.0
1    60  0.0  0.0  0.0  1.0
2    78  0.0  0.0  1.0  0.0
3    55  0.0  1.0  0.0  0.0
4    34  0.0  1.0  0.0  0.0
5    45  1.0  0.0  0.0  0.0
6    67  0.0  0.0  0.0  1.0
7    88  0.0  0.0  1.0  0.0

In [8]:
#convert dataframe to array
x=df.to_numpy()

# Encoding Categorical Data using OneHotEncoder and ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
# creating one hot encoder object with categorical feature 0
# indicating the first column
columnTransformer = ColumnTransformer([('encoder',
                                        OneHotEncoder(),
                                        [0])],
                                      remainder='passthrough')
res = columnTransformer.fit_transform(x)


dfnew = pd.DataFrame(res)
dfnew

     0    1    2    3   4
0  0.0  0.0  1.0  0.0  90
1  0.0  0.0  0.0  1.0  60
2  0.0  0.0  1.0  0.0  78
3  0.0  1.0  0.0  0.0  55
4  0.0  1.0  0.0  0.0  34
5  1.0  0.0  0.0  0.0  45
6  0.0  0.0  0.0  1.0  67
7  0.0  0.0  1.0  0.0  88

In [9]:
######## Using Pandas ########
df3=df.copy()
df3
#using get_dummies function 
df3 = pd.get_dummies(df3, columns=["Subject"])
df3

   Mark  Subject_Biology  Subject_Chemistry  Subject_Math  Subject_Science
0    90                0                  0             1                0
1    60                0                  0             0                1
2    78                0                  0             1                0
3    55                0                  1             0                0
4    34                0                  1             0                0
5    45                1                  0             0                0
6    67                0                  0             0                1
7    88                0                  0             1                0